.gray-halftone {
  position: relative;
  overflow: hidden;

  & > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    background-image: url('../images/gray-halftone.svg');
    background-position: bottom;
    background-repeat: repeat-x;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-4deg) scale(1.05);
    z-index: 0;
  }
}

.mega-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 5;

  &:hover, &:focus, &:active {
    background: none !important;
  }
}

.badge {
  border-radius: 100% !important;
  box-shadow: 5px 5px 0 $shadow;
}

@mixin slanted($type: 'normal') {
  $main-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  $navy-clip-path: polygon(0 calc(100% - 10px), 100% calc(80% - 10px), 100% 80%, 0 100%);
  $ice-clip-path: polygon(0 calc(100% - 9px), 100% calc(80% - 9px), 100% calc(80% - 1px), 0 calc(100% - 1px));

  @if $type == 'right' {
    $main-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    $navy-clip-path: polygon(0 calc(80% - 10px), 100% calc(100% - 10px), 100% 100%, 0 80%);
    $ice-clip-path: polygon(0 calc(80% - 9px), 100% calc(100% - 9px), 100% calc(100% - 1px), 0 calc(80% - 1px));
  }
  @if $type == 'shallow' {
    $main-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 60px));
    $navy-clip-path: polygon(0 calc(100% - 70px), 100% calc(100% - 10px), 100% 100%, 0 calc(100% - 60px));
    $ice-clip-path: polygon(0 calc(100% - 69px), 100% calc(100% - 9px), 100% calc(100% - 1px), 0 calc(100% - 61px));
  }

  background-color: $ice;
  padding-bottom: 10px;
  border-bottom: 1px solid $navy;

  @supports (-webkit-clip-path: $main-clip-path) or (clip-path: $main-clip-path) {
    clip-path: $main-clip-path;
    background-color: transparent;
    padding-bottom: 0;
    border-bottom: none;

    img {
      z-index: auto;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    background: $navy;
    z-index: 1;

    @supports (-webkit-clip-path: $navy-clip-path) or (clip-path: $navy-clip-path) {
      clip-path: $navy-clip-path;
    }
  }

  &::after {
    background: $ice;
    z-index: 2;

    @supports (-webkit-clip-path: $ice-clip-path) or (clip-path: $ice-clip-path) {
      clip-path: $ice-clip-path;
    }
  }
}
@mixin color-card($which-light, $which-med, $which-dark) {
  background: $which-med;
  border: 2px solid $which-dark;
  transition: all 0.3s ease;

  h3, a, .card-title {
    color: $white;
    text-shadow: 2px 2px $which-dark;
    text-decoration: none;
  }

  &:hover, &:focus {
    background: $which-light;
    border: 2px solid $which-med;
  }

  .card-reveal {
    background: $which-med;
  }
}
@mixin photo-card {
  background-color: $ice;
  border: 1px solid $navy;
  padding: 10px;
  border-radius: 0;
  color: $navy;
  height: 100%;
  box-shadow: 5px 5px $shadow;
  margin: 0;

  .card-image {
    border-radius: 0;

    img:not(.badge) {
      border: 1px solid $navy;
      border-radius: 0;
    }
  }

  .card-content, .card-reveal {
    font-family: $font-family-sans-serif;
    padding: 0;

    .card-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      text-shadow: 1px 2px $shadow;
      padding-top: 10px;
      text-decoration: none;
    }

    p {
      font-size: 14px;
    }

    @media only screen and (max-width: 768px) {
      p {
        font-size: 16px;
      }
    }
  }

  .card-reveal {
    background-color: $ice;
    padding: 10px;
  }
}
