.gray-halftone {
  position: relative;
  overflow: hidden;

  & > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    background-image: url(./images/gray-halftone.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-4deg) scale(1.05);
    z-index: 0;
  }
}
