/** Brand Colors */
$red-dark:          #99140C;
$red-med:           #C93B3E;
$red-light:         #F4989A;
$orange-dark:       #C27811;
$orange-med:        #E98B3B;
$orange-light:      #EDC57B;
$green-dark:        #688127;
$green-med:         #9AB83C;
$green-light:       #C4DE95;
$aqua-dark:         #308593;
$aqua:              #4CBED8;
$aqua-light:        #AAE1EA;
$brand-primary:     $aqua;

$purple-dark:       #482B6B;
$purple-med:        lighten(#654C81, 10%);
$purple-light:      lighten($purple-med, 20%);

/** Neutral Colors */
$gray:              #2F2F2F;
$navy:              #000349;
$ice:               #CFF3FF;
$white:             #FFF;

/** Utility Colors */
$error:             $red-dark;
$success:           $green-dark;
$shadow:            rgba(#0B004B, 0.19);

/** Form Colors */
$input-focus-color: $navy;

/** Grid */
$small-screen-up: 769px;
$small-screen: 768px;

/** Box Model  */
$spacer:            2rem;

/** Fonts */
$font-comic: "Boogaloo";
$font-family-serif: "Zilla Slab", serif;
$font-family-sans-serif: "Montserrat", sans-serif;
