.top-border {
  background-color: $ice;
  border-bottom: 1px solid $navy;
  border-top: 1px solid $navy;
  height: 10px;
  margin-bottom: 50px;
}

.bottom-bar {
  font-size: 12px;
}

.svg-unity-logo {
  height: 22px;
}
