// Shape mixin
@mixin triangle($side) {
  $border-width: null;
  $border-side: null;
  $offset-top: 0;

  @if $side == "right" {
    $border-width: 85px 20px 0 0;
    $border-side: "border-top";
    $offset-top: 0;
  }

  @elseif $side == "left" {
    $border-width: 0 0 85px 20px;
    $border-side: "border-bottom";
    $offset-top: -1px;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $border-width;
    border-color: transparent;
  }

  &::before {
    #{$side}: -21px;
    #{$border-side}-color: $navy;
    z-index: -2;
  }

  &::after {
    top: $offset-top;
    #{$side}: -20px;
    #{$border-side}-color: $white;
    z-index: -1;
  }
}

.nav-wrapper {
  display: flex;
  align-items: stretch;

  & > * {
    flex: 1 1 auto;
  }

  @media #{$medium-and-down} {
    background: white;
    border-bottom: 1px solid $navy;
  }
  @media #{$small-and-down} {
    a {
      background: none !important;
    }
  }
}

nav {
  background: $ice;
  height: 94px;
  border-bottom: 1px solid $navy;
  box-shadow: none;
  padding-bottom: 8px;

  .brand-logo.brand-logo {
    display: block;
    position: relative;
    padding: 10px;

    @media #{$large-and-up} {
      background: $white;
      height: 100%;
      padding: 10px 25px;
      margin-right: 29px;
      border-bottom: 1px solid $navy;
      border-right: 1px solid $navy;
      z-index: 0;

      @include triangle("right");
    }
  }

  ul.menu {
    position: relative;
    display: block;
    background: $white;
    padding: 10px 25px;
    border: 1px solid $navy;

    @media #{$large-and-up} {
      height: 100%;
      border-top: none;
      z-index: 1;

      @include triangle("left");
    }
    @media only screen and (min-width: #{$medium-screen-up}) and (max-width: #{$large-screen}) {
      padding: 10px;
    }

    li {
      &.active {
        background: none;
      }
    }

    a {
      font-family: $font-family-serif;
      font-weight: bold;
      font-size: 24px;
      color: $navy;
      text-decoration: none !important;

      @media only screen and (min-width: #{$medium-screen-up}) and (max-width: #{$large-screen}) {
        font-size: 22px;
      }

      &:hover {
        background: $aqua-light;
        color: $aqua-dark;
      }

      &:focus, &:active {
        background: $shadow;
        color: $navy;
      }
    }

    &.primary {
      margin-right: 29px;
      flex: 2 1 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      li {
        float: none;
        display: block;

        a {
          white-space: nowrap;
        }
      }

      & > li:last-child {
        @include triangle("right");
      }
    }

    &.secondary {
      a {
        color: $red-dark;

        &:hover {
          background: $orange-light;
        }

        &:focus, &:active {
          background: $shadow;
        }

        @media only screen and (min-width: #{$medium-screen-up}) and (max-width: #{$large-screen}) {
          font-size: 18px;
        }
      }

      .menu-log-in::after {
        content: '';
        display: inline-block;
        background-image: url('../images/or.svg');
        background-repeat: no-repeat;
        width: 17px;
        height: 15px;
      }

      @media #{$large-and-up} {
        border-right: none;

        a {
          display: inline-block;
        }
      }
    }

    .dropdown-content {
      a {
        display: block;
        font-size: 18px;
      }
    }
  }

  .button-collapse {
    text-align: right;
    margin: 0;
    padding: 10px 20px;
    height: auto;

    i {
      color: $navy;
      font-size: 36px;
    }

    & + div {
      max-width: 0;
    }
  }
}

.side-nav.right-aligned {
  border: 1px solid $navy;
  background: $ice;
  padding: 10px;
  border-radius: 0;

  ul.menu {
    padding: 0;
    margin-bottom: 10px;

    li {
      a {
        line-height: 1;
        padding: 12px 20px;
        height: auto;
      }
    }
  }
}
