//Hero section
.hero {
  position: relative;

  .img-wrapper {
    position: relative;

    @include slanted('normal');
  }

  img {
    width: 100%;
    display: block;
  }
}

.hero-text {
  .col {
    position: relative;
  }

  .btn-primary {
    white-space: nowrap;
  }

  @media #{$medium-and-up} {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;

    .btn-primary {
      font-size: 46px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.splat {
  background-repeat: no-repeat;
  background-image: url(./images/splat-green.svg);
  background-size: 100% 100%;
  padding: 10% 0 13%;
  max-width: 540px;
  position: relative;
  margin: 0 auto;

  @media #{$small-and-down} {
    margin-top: -15%;
  }

  .scientists {
    position: relative;
    overflow: hidden;
    margin-top: -20px;

    svg {
      margin: 0 auto;
      max-width: 80%;
      display: block;
      position: relative;
    }

    @media #{$medium-and-up} {
      margin: 0 auto 10px;
      transform: translate3d(-20px, 0, 0);
    }
  }

  h1 {
    clear: both;
    color: $gray;
    font-size: 16px;
    font-family: $font-family-sans-serif;
    margin: 0 20% 40px;

    @media #{$medium-and-up} {
      font-size: 18px;
      margin: 0 20% 40px 23%;
    }
  }
}

//See-Snap-Share
.see-snap-share {
  margin-top: 60px;
  overflow: hidden;

  @media #{$medium-and-up} {
    margin-top: 180px;
    overflow: visible;
  }

  .row.panels {
    background-color: $ice;
    border: 1px solid $navy;
    position: relative;
    padding: 0 5px;
    margin-bottom: 50px;

    .panel-inner, .panel-img {
      position: relative;
      overflow: hidden;
      background: $navy;
    }

    img {
      display: block;
      width: 100%;
      border: 1px solid $navy;
    }

    .mini-splat {
      position: absolute;
      z-index: 1;
    }

    .col {
      position: relative;
      padding: 10px 5px;

      &:nth-child(even) {
        .mini-splat {
          left: -15px;
          top: -50px;
        }

        @media #{$small-and-down} {
          padding: 0 5px;

          .mini-splat {
            right: -20px;
            bottom: -50px;
            left: auto;
            top: auto;
          }
        }
      }

      &:nth-child(odd) {
        .mini-splat {
          bottom: -50px;
          left: -15px;
        }
      }
    }

    @media #{$small-and-down} {
      .panel-inner {
        height: 0;
        padding-bottom: 60%;

        img {
          position: relative;
          margin-top: 50%;
          transform: translate3d(0, -50%, 0);
        }
      }
    }
    @media #{$large-and-up} {
      img {
        border: none;
      }

      .col:nth-child(1) {
        .panel-inner {
          clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
          transform: scale(1.1, 1);
          transform-origin: center left;
        }

        .panel-img {
          clip-path: polygon(1px 1px, calc(80% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), 1px calc(100% - 1px));
        }

        img {
          transform: scale(1, 1.1);
          transform-origin: center;
        }
      }

      .col:nth-child(2) {
        .panel-inner {
          clip-path: polygon(0 0, 100% 0, 82% 100%, 18% 100%);
          transform: scale(1.23, 1);
          transform-origin: center center;
        }

        .panel-img {
          clip-path: polygon(1px 1px, calc(100% - 1px) 1px, calc(82% - 1px) calc(100% - 1px), calc(18% + 1px) calc(100% - 1px));
        }

        img {
          transform: scale(1, 1.23);
          transform-origin: center;
        }
      }

      .col:nth-child(3) {
        .panel-inner {
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
          transform: scale(1.1, 1);
          transform-origin: center right;
        }

        .panel-img {
          clip-path: polygon(calc(20% + 1px) 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), 1px calc(100% - 1px));
        }

        img {
          transform: scale(1, 1.1);
          transform-origin: center;
        }
      }
    }
  }
}

//Events
.rotate-wrap {
  overflow: hidden;
  position: relative;
  padding: 50px 0;

  @media #{$medium-and-up} {
    .rotate-straighten {
      position: relative;
      transform: rotate(-2deg);
      transform-origin: top left;
    }
  }
}

.events-loop {
  background-color: $ice;
  border-bottom: 1px solid $navy;
  border-top: 1px solid $navy;
  padding-top: 10px;
  position: relative;
  margin-bottom: 40px;

  @media #{$medium-and-up} {
    transform: rotate(2deg);
    transform-origin: center center;
    left: -20px;
    right: -20px;
    width: calc(100% + 40px);

    .gray-halftone::before {
      transform: rotate(-6deg) scale(1.05);
    }
  }

  .row {
    margin: 0 -6px 10px;
  }

  .col {
    padding: 0 5px;
  }

  .gray-halftone {
    background-color: white;

    &::before {
      background-size: contain;
    }
  }

  .season-content {
    border: 1px solid $navy;
    height: 100%;
    padding: 20px;
    font-size: 13px;

    .date {
      font-size: 14px;
      padding-left: 10%;
    }

    h2 {
      font-size: 30px;
      font-family: $font-family-serif;
      color: $navy;
      margin: 0 0 20px;
      padding-left: 10%;
    }

    .badge {
      float: left;
      margin-right: 20px;
      max-width: 30%;
    }

    @media #{$medium-and-up} {
      padding: 50px;
    }
    @media #{$large-and-up} {
      font-size: 18px;
    }
  }

  .save-date {
    position: absolute;
    left: 100px;
    top: 20px;
  }

  .event {
    border: 1px solid $navy;
    position: relative;
    overflow: hidden;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .date {
      box-shadow: 7px 8px $shadow;
      display: flex;
      flex-direction: column;
      left: 25px;
      line-height: 1;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: 15px;
      width: 100px;

      @media #{$medium-and-up} {
        transform: rotate(-2deg);
        transform-origin: top right;
      }

      &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
      }
    }

    &:hover .title {
      transform: translateY(-20px);
    }
  }

  .title {
    width: 100%;
    padding: 20px;
    transition: all ease-in-out 0.3s;

    h2 {
      line-height: 1.2;
      margin: 0;
      vertical-align: middle;
      font-family: $font-family-sans-serif;
      font-size: 24px;
      font-weight: normal;

      @media #{$medium-only} {
        font-size: 18px;
      }
    }

    .label {
      color: $navy;
    }

    a {
      color: white;
      text-shadow: 4px 2px $shadow;
    }
  }

  .row:nth-child(2) > .col:first-child .title {
    padding-left: 60px;
  }
}

//Observations/Leaderboard
.buzzing-leaders {
  @include slanted('shallow');

  position: relative;

  .gray-halftone {
    padding-bottom: 10%;

    @media #{$small-and-down} {
      padding-bottom: 80px;

      &::before {
        display: none;
      }
    }
  }

  h2 {
    color: $navy;
    font-family: $font-family-serif;
    font-size: 30px;
    margin: 10px;
  }

  .explore-more {
    font-family: $font-comic;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    transition: all ease 0.3s;

    @media #{$small-and-down} {
      margin-bottom: 40px;
    }

    a {
      color: $green-dark;

      &:hover, &:focus, &:active {
        font-size: 30px;
      }
    }
  }

  .row:nth-child(2) {
    margin-top: 25px;
  }
}

.leaderboard {
  background-color: $green-med;
  border: 2px solid $green-dark;
  box-shadow: 8px 8px $shadow;
  padding: 15px;

  h2 {
    color: white;
    margin: 0 0 10px;
    text-shadow: 2px 2px $green-dark;
    vertical-align: middle;

    svg {
      height: 54px;
      float: left;
      margin-bottom: 10px;
    }
  }
}

.striped {
  background-color: white;

  tr {
    height: 45px;

    &:nth-child(odd) {
      background-color: rgba($shadow, 0.1) !important;
    }
  }

  .rank {
    text-align: center;
    font-size: 12px;
  }

  .name {
    color: $navy;
    font-size: 14px;
    font-weight: bold;
  }

  .score {
    color: $navy;
    font-family: $font-family-serif;
    font-size: 32px;
    font-weight: bold;
    padding: 1px;
    text-shadow: 2px 2px $shadow;
  }

  @media #{$medium-and-up} {
    .rank {
      font-size: 18px;
    }

    .name {
      font-size: 18px;
    }

    .score {
      font-size: 32px;
    }
  }
}

//Footer
