//Hero section

.hero {
  @include slanted('normal');

  position: relative;

  img {
    width: 100%;
    display: block;
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 5%;
}

.splat {
  background-repeat: no-repeat;
  background-image: url(./images/splat-green.svg);
  background-size: 100% 100%;
  padding: 10% 0 13%;
  max-width: 480px;
  position: relative;

  .scientists {
    position: relative;
    overflow: hidden;

    svg {
      margin: 0 auto 10px;
      display: block;
    }
  }

  h1 {
    clear: both;
    color: $gray;
    font-size: 18px;
    font-family: $font-family-sans-serif;
    margin: 0 20% 20px 23%;
  }
}
//See-Snap-Share

.see-snap-share .row.panels {
  background-color: $ice;
  border: 1px solid $navy;
  position: relative;
  padding: 0 5px;

  img {
    border: 1px solid $navy;
    width: 100%;
    display: block;
  }

  .mini-splat {
    position: absolute;
    z-index: 1;
  }

  .col {
    position: relative;
    padding: 10px 5px;

    &:nth-child(even) {
      .mini-splat {
        left: -15px;
        top: -50px;
      }
    }

    &:nth-child(odd) {
      .mini-splat {
        bottom: -50px;
        left: -15px;
      }
    }
  }
}

//Events

.events {
  background-color: $ice;
  margin-bottom: 50px;
  padding: 10px;

  .badge svg {
    width: 162px;
    height: 162px;
  }

  .gray-halftone {
    max-height: 350px;
    background-color: white;
  }
}

.future-events {
  width: 33%;

  .event img {
    max-width: 410px;
    position: relative;
  }

  h2 {
    line-height: 1;
    margin: 0;
    vertical-align: middle;
  }
}

.event-title {
  color: white;
  font-family: $font-family-serif;
  font-size: 24px;
  text-shadow: 2px 4px $shadow;
}

//Observations/Leaderboard
.buzzing-leaders {
  @include slanted('shallow');

  position: relative;

  .gray-halftone {
    padding-bottom: 10%;
  }

  h2 {
    color: $navy;
    font-family: $font-family-serif;
    font-size: 30px;
    margin: 10px;
  }

  .explore-more {
    text-align: center;
  }

  .row:nth-child(2) {
    margin-top: 25px;
  }
}

.leaderboard {
  background-color: $green-med;
  border: 1px solid $green-dark;
  box-shadow: 8px 8px $shadow;
  padding: 15px;
  width: 457px;

  h2 {
    color: white;
    margin: 1px;
    text-shadow: 2px 2px $green-dark;
    vertical-align: middle;

    svg {
      height: 54px;
    }
  }
}

.striped {
  background-color: white;

  tr {
    height: 45px;
  }

  .name {
    color: $navy;
    font-size: 18px;
  }

  .score {
    color: $navy;
    font-family: $font-family-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 1px;
    text-shadow: 2px 2px $shadow;
  }
}
