// Profile header
.um-cover {
  overflow: hidden;
  background: white;
}

.um-cover-e {
  height: 100%;
  width: 100%;
  padding-bottom: 8px;
  position: relative;
  background: $ice;
  border-bottom: 1px solid $navy;

  @include slanted('shallow');

  img {
    position: relative;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $navy;
  }
}

.um-profile-edit {
  display: none !important;
}

.um.um .um-name.um-name a {
  @extend h2;
}

.um-header {
  border-bottom: none;
}

.um-profile-nav {
  background: $ice;
  border-top: 1px solid $navy;
  border-bottom: 1px solid $navy;
}

.um-profile-nav-item {
  a {
    color: $gray !important;
    border: 1px solid transparent !important;

    &:hover, &:active, &:focus {
      background: $white;
      border: 1px solid $aqua !important;
    }
  }
}
