.season-content {
  height: 540px;
  padding: 25px;
}

.season-end {
  img {
    max-width: 400px;
    position: relative;
  }
}
//Global mixins for seasons

@mixin learn-more-btn {
  box-shadow: 7px 8px $shadow;
  color: white;
  display: inline-block;
  font-family: $font-comic;
  font-size: 46px;
  text-transform: uppercase;
  transform: translate(0, 0);
  transition: all 0.3s ease;
  padding: 10px 15px;
  position: relative;
}
@mixin learn-more-btn-before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
}
@mixin learn-more-btn-hover {
  box-shadow: 2px 4px $shadow;
  transform: translate(2px, 2px);
}


//Entomology ($aqua)

.learn-more-btn {
  @include learn-more-btn;

  background-color: $aqua;
  border: 6px solid $aqua-light;
  text-shadow: 2px 4px $aqua-dark;

  &::before {
    @include learn-more-btn-before;

    border: 2px solid $aqua-dark;
  }

  &:hover {
    @include learn-more-btn-hover;

    background-color: $aqua-light;
    border: 6px solid $aqua;
  }

  &:active {
    background-color: $aqua;
    border: 6px solid $aqua-dark;
    box-shadow: 0 0;
  }
}


//Herpetology ($orange-med)
//Ornithology ($red-med)
//Botany ($green-med)
