//Global button variables

@mixin btn-global {
  box-shadow: 7px 8px $shadow;
  color: white;
  display: inline-block;
  font-family: $font-comic;
  font-weight: normal;
  font-size: 36px;
  overflow: visible;
  text-transform: uppercase;
  transform: translate(0, 0);
  transition: all 0.3s ease;
  padding: 10px 15px !important;
  position: relative;
  border-radius: 0 !important;
  cursor: pointer;
}
@mixin btn-before-global {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
}
@mixin btn-hover-global {
  box-shadow: 2px 4px $shadow;
  transform: translate(2px, 2px);
}

// Ultimate member buttons
input[type="submit"].um-button {
  border: 1px solid $aqua-dark !important;
}

.um-button.um-alt {
  border: 1px solid $green-dark !important;
}

//Primary $aqua CTA Button

.btn-primary, input[type="submit"].um-button {
  @include btn-global;

  background-color: $aqua;
  border: 6px solid $aqua-light;
  text-shadow: 2px 4px $aqua-dark;

  .um.um & {
    border: 6px solid $aqua-light !important;

    &:hover {
      border: 6px solid $aqua !important;
    }

    &:active {
      border: 6px solid $aqua-dark !important;
    }
  }

  &::before {
    @include btn-before-global;

    border: 2px solid $aqua-dark;
  }

  &:hover {
    @include btn-hover-global;

    background-color: $aqua-light;
    border: 6px solid $aqua;
  }

  &:active {
    background-color: $aqua;
    border: 6px solid $aqua-dark;
    box-shadow: 0 0;
  }
}

//Secondary $green-med CTA button

.btn-secondary, .um-button.um-alt {
  @include btn-global;

  background-color: $green-med;
  border: 6px solid $green-light;
  padding: 2px 40px;
  text-shadow: 2px 4px $green-dark;

  &::before {
    @include btn-before-global;

    border: 2px solid $green-dark;
  }

  &:hover {
    @include btn-hover-global;

    background-color: $green-light;
    border: 6px solid $green-med;
  }

  &:active {
    background-color: $green-med;
    border: 6px solid $green-dark;
    box-shadow: 0 0;
  }
}

//Tertiary $orange-med CTA Button

.btn-tertiary {
  @include btn-global;

  background-color: $orange-med;
  border: 6px solid $orange-light;
  font-size: 36px;
  padding: 2px 20px;
  text-shadow: 2px 4px $orange-dark;

  &::before {
    @include btn-before-global;

    border: 2px solid $orange-dark;
  }

  &:hover {
    @include btn-hover-global;

    background-color: $orange-light;
    border: 6px solid $orange-med;
  }

  &:active {
    background-color: $orange-med;
    border: 6px solid $orange-dark;
    box-shadow: 0 0;
  }
}
