//Global button variables

@mixin btn-global {
  box-shadow: 7px 8px $shadow;
  color: white;
  display: inline-block;
  font-family: $font-comic;
  font-weight: normal;
  font-size: 36px;
  overflow: visible;
  text-decoration: none !important;
  text-transform: uppercase !important;
  transform: translate(0, 0);
  transition: all 0.3s ease;
  padding: 5px 25px;
  position: relative;
  border-radius: 0 !important;
  border-width: 8px;
  border-style: solid;
  cursor: pointer;
  will-change: transform;

  .material-icons {
    font-size: 36px;
    vertical-align: -6px;
  }

  &::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-width: 2px;
    border-style: solid;
  }

  &:hover {
    box-shadow: 2px 4px $shadow;
    transform: translate(2px, 2px);
  }
}

// Ultimate member buttons
// input[type="submit"].um-button {
//   border: 2px solid $aqua-dark !important;
// }
//
// .um-button.um-alt {
//   border: 2px solid $green-dark !important;
// }

input[type="submit"].um-button {
  border: 2px solid $aqua-dark !important;

  &::before {
    display: none !important;
  }

  &:hover {
    transform: translate(0, 0) !important;
  }
}

//Primary $aqua CTA Button
.btn-primary, input[type="submit"].um-button {
  @include btn-global;

  background-color: $aqua;
  border-color: $aqua-light;
  text-shadow: 4px 2px $aqua-dark;

  &::before {
    border-color: $aqua-dark;
  }

  &:hover {
    background-color: $aqua-light;
    border-color: $aqua;
  }

  &:active, &:focus {
    background-color: $aqua;
    border-color: $aqua-dark;
    box-shadow: 0 0;
  }
}

//Secondary $green-med CTA button

.btn-secondary, a.um-button.um-alt, .wpcf7-submit {
  @include btn-global;

  background-color: $green-med;
  border-color: $green-light;
  text-shadow: 4px 2px $green-dark;

  &::before {
    border-color: $green-dark;
  }

  &:hover {
    background-color: $green-light;
    border-color: $green-med;
  }

  &:active, &:focus {
    background-color: $green-med;
    border-color: $green-dark;
    box-shadow: 0 0;
  }
}

//Tertiary $orange-med CTA Button

.btn-tertiary {
  @include btn-global;

  background-color: $orange-med;
  border-color: $orange-light;
  text-shadow: 4px 2px $orange-dark;

  &::before {
    border-color: $orange-dark;
  }

  &:hover {
    background-color: $orange-light;
    border-color: $orange-med;
  }

  &:active, &:focus {
    background-color: $orange-med;
    border-color: $orange-dark;
    box-shadow: 0 0;
  }
}
