input {
  font-family: $font-family-serif;
  color: $aqua-dark;
  font-size: 16px;
}

label {
  @extend h6;
}

form {
  p {
    margin: 10px 0;
  }
}

.comment-form {
  textarea {
    background: white;
    border: 1px solid $navy;
  }

  .form-submit {
    margin: 0;
  }

  .submit {
    width: auto;
    background: $orange-med;
    box-shadow: none !important;
    border-radius: 0;
    font-family: $font-comic;
    text-shadow: 4px 2px $orange-dark;
    @extend .btn;

    &:hover, &:focus, &:active {
      background: $orange-dark;
    }
  }
}

// Registration form styles
.um.um.um {
  .um-form {
    input[type=number], input[type=password], input[type=tel], input[type=text] {
      font-size: 18px !important;
      color: $aqua-dark;

      &.um-validate-not-matched {
        color: $red-dark;
      }
    }

    textarea {
      font-family: $font-family-serif;
      color: $aqua-dark;
      font-size: 18px !important;
    }

    span[id=password-strength] {
      width: 100%;
      display: block;

      &.bad, &.short, &.medium {
        background: $red-light;
        color: $red-dark;
      }

      &.strong {
        background: $green-light;
        color: $green-dark;
      }
    }

    input[type=number] {
      height: 40px !important;
      padding: 0 12px !important;
    }

    .select2.select2-container .select2-selection {
      border: 2px solid $navy !important;
      border-radius: 0 !important;
      font-family: $font-family-serif;
      font-size: 18px !important;

      .select2-selection__rendered {
        color: $aqua-dark;
        line-height: 35px;
      }

      &.select2-selection--multiple {
        line-height: normal !important;
      }
    }
  }
}

.select2-container.select2-container--open {
  .select2-dropdown {
    border: 2px solid $shadow !important;
    border-radius: 0;
  }
}

.select2-search--dropdown {
  .select2-search__field {
    display: none;
  }
}

.select2-container--default {
  .select2-search__field {
    margin: 0 !important;
    line-height: normal !important;
    font-size: 18px !important;
  }
}

.select2-results li {
  font-family: $font-family-serif;
  color: $navy !important;
  font-size: 16px;

  &.select2-results__option.select2-results__option--highlighted {
    background: $ice !important;
    color: $navy !important;
  }
}

.um-field-radio-option {
  font-family: $font-family-serif;
  color: $gray !important;
  text-transform: none;
  font-weight: normal;

  .um-field-radio.active & {
    color: $aqua-dark !important;
  }
}

// Dropzone styles
.dz-message {
  h2 {
    font-size: 1.5em;
    color: $gray;
  }
}

.dropzone.dz-drag-hover {
  background: rgba($green-light, 0.5);
}

.dropzone .dz-preview.dz-complete .dz-success-mark {
  opacity: 1;
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(46px);
  }
}

.dropzone .dz-preview .dz-progress .dz-upload {
  left: -46px;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto !important;
  background: repeating-linear-gradient(-55deg, $aqua-dark 1px, $aqua 2px, $aqua 11px, $aqua-dark 12px, $aqua-dark 20px);
  animation-name: MOVE-BG;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

// Submission form styles
.wpcf7-form, .observation-form {
  input[type="text"], input[type="email"] {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: normal;
  }

  textarea.materialize-textarea {
    overflow-y: auto;
    resize: vertical;
    font-size: 25px !important;
    padding-bottom: 0.8rem;
    font-weight: normal;
    color: $aqua-dark;
    font-family: $font-family-serif;
  }

  label.active {
    color: $navy;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  legend {
    @extend h6;

    color: $navy;
  }

  .form-section {
    position: relative;
    border: 1px solid $navy;
    padding: 10px 10px 0;
    margin-bottom: 20px;
    background: $ice;

    &.hidden {
      display: none;
    }
  }

  .form-row {
    position: relative;
    margin: 0 0 10px;
    border: 1px solid $navy;
    background: white;
    padding: 20px;
  }

  .input-wrapper {
    position: relative;
    margin: 1.5em 0;

    &.photo {
      position: static;
    }

    &.disabled {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($white, 0.5);
      }
    }

    & ~ div[id*="-wrap"] {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .wpcf7-textarea {
    @extend .materialize-textarea;
  }

  .file-field {
    .btn {
      background: $aqua;
      box-shadow: none !important;
      border-radius: 0;
      font-family: $font-comic;
      font-size: 25px;
      text-shadow: 4px 2px $aqua-dark;
    }
  }

  .input-field.inline {
    width: 100%;

    input {
      display: inline-block;
      width: 50%;
      margin: 0;

      &[type="button"] {
        width: auto;
        background: $orange-med;
        box-shadow: none !important;
        border-radius: 0;
        font-family: $font-comic;
        text-shadow: 4px 2px $orange-dark;
        @extend .btn;

        &:hover, &:focus, &:active {
          background: $orange-dark;
        }
      }
    }
  }

  // Radio styles from Materialize
  [type="radio"]:not(:checked) + .wpcf7-list-item-label,
  [type="radio"]:checked + .wpcf7-list-item-label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    transition: 0.28s ease;
    user-select: none;
  }

  [type="radio"] + .wpcf7-list-item-label::before,
  [type="radio"] + .wpcf7-list-item-label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: 0.28s ease;
  }

  /* Unchecked styles */
  [type="radio"]:not(:checked) + .wpcf7-list-item-label::before,
  [type="radio"]:not(:checked) + .wpcf7-list-item-label::after,
  [type="radio"]:checked + .wpcf7-list-item-label::before,
  [type="radio"]:checked + .wpcf7-list-item-label::after,
  [type="radio"].with-gap:checked + .wpcf7-list-item-label::before,
  [type="radio"].with-gap:checked + .wpcf7-list-item-label::after {
    border-radius: 50%;
  }

  [type="radio"]:not(:checked) + .wpcf7-list-item-label::before,
  [type="radio"]:not(:checked) + .wpcf7-list-item-label::after {
    border: 2px solid $radio-empty-color;
  }

  [type="radio"]:not(:checked) + .wpcf7-list-item-label::after {
    transform: scale(0);
  }

  /* Checked styles */
  [type="radio"]:checked + .wpcf7-list-item-label::before {
    border: 2px solid transparent;
  }

  [type="radio"]:checked + .wpcf7-list-item-label::after,
  [type="radio"].with-gap:checked + .wpcf7-list-item-label::before,
  [type="radio"].with-gap:checked + .wpcf7-list-item-label::after {
    border: $radio-border;
  }

  [type="radio"]:checked + .wpcf7-list-item-label::after,
  [type="radio"].with-gap:checked + .wpcf7-list-item-label::after {
    background-color: $radio-fill-color;
  }

  [type="radio"]:checked + .wpcf7-list-item-label::after {
    transform: scale(1.02);
  }

  /* Radio With gap */
  [type="radio"].with-gap:checked + .wpcf7-list-item-label::after {
    transform: scale(0.5);
  }

  /* Focused styles */
  [type="radio"].tabbed:focus + .wpcf7-list-item-label::before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Disabled Radio With gap */
  [type="radio"].with-gap:disabled:checked + .wpcf7-list-item-label::before {
    border: 2px solid $input-disabled-color;
  }

  [type="radio"].with-gap:disabled:checked + .wpcf7-list-item-label::after {
    border: none;
    background-color: $input-disabled-color;
  }

  /* Disabled style */
  [type="radio"]:disabled:not(:checked) + .wpcf7-list-item-label::before,
  [type="radio"]:disabled:checked + .wpcf7-list-item-label::before {
    background-color: transparent;
    border-color: $input-disabled-color;
  }

  [type="radio"]:disabled + .wpcf7-list-item-label {
    color: $input-disabled-color;
  }

  [type="radio"]:disabled:not(:checked) + .wpcf7-list-item-label::before {
    border-color: $input-disabled-color;
  }

  [type="radio"]:disabled:checked + .wpcf7-list-item-label::after {
    background-color: $input-disabled-color;
    border-color: $input-disabled-solid-color;
  }

  .form-buttons {
    margin: 1.5em 0;
  }

  .validate.validate.invalid {
    border-bottom-color: $red-med;
    box-shadow: 0 1px 0 0 $red-med;

    & + label {
      color: $red-med;
    }
  }
}

// Hidden input fields
.wpcf7-latlong, input[name="datetime"] {
  display: none;
}

.flatpickr-calendar {
  border-radius: 0;

  .numInputWrapper {
    &:hover {
      background: rgba($shadow, 0.1);
    }
  }

  input.numInput {
    font-size: inherit;
  }

  .flatpickr-day {
    &.selected {
      background: $aqua;
      border-color: $aqua-dark;
    }

    &:hover {
      background: rgba($shadow, 0.1);
    }
  }

  .flatpickr-time {
    height: auto !important;
    max-height: none;

    .numInputWrapper {
      height: auto;
    }
  }
}

div[id="google-map"] {
  width: 100% !important;

  .gm-style-pbt {
    text-align: center;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  margin: 0 30px;

  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 10px solid $green-med;
    border-top-color: $green-dark;
    animation: spinner 0.6s linear infinite;
  }
}

// Form Progress
ol.form-progress {
  list-style: none;
  display: table;
  margin: 1.5rem 0;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  counter-reset: progressStep;
}

@media screen and (max-width: 767px) {
  ol.form-progress {
    padding: 0;
  }
}

ol.form-progress:focus {
  outline: 0;
}

ol.form-progress:focus li[data-step-current] {
  outline: $gray dotted 1px;
}

ol.form-progress li {
  text-transform: uppercase;
  text-align: center;
  display: table-cell;
  list-style: none;
  margin: 0;
  padding: 2rem 0 0;
  position: relative;
  width: 100%;
  counter-increment: progressStep;
}

ol.form-progress li[data-step-current] {
  color: $aqua-dark;
  font-weight: bold;
}

ol.form-progress li::before,
ol.form-progress li::after {
  background: $ice;
  color: $navy;
  display: block;
  position: absolute;
}

ol.form-progress li::before {
  content: counter(progressStep);
  border-radius: 3px;
  font-weight: bold;
  height: 1.5rem;
  left: 50%;
  margin-left: -0.75rem;
  line-height: 1.5rem;
  padding-left: 0.1rem;
  top: 0;
  transform: scale(1, 1);
  width: 1.5rem;
  z-index: 1;
}

ol.form-progress li[data-step-current]::before {
  background: $aqua-dark;
  color: $white;
}

ol.form-progress li[data-step-complete]::before {
  background: $aqua;
  color: $white;
}

ol.form-progress li::after {
  content: '';
  height: 0.25rem;
  left: -50%;
  top: 0.65rem;
  width: 100%;
}

ol.form-progress li[data-step-complete]::after,
ol.form-progress li[data-step-current]::after {
  background: $ice;
}

ol.form-progress li:first-child::after {
  display: none;
}

.wp-mappicker-map-canvas-wrap {
  width: 480px;
  max-width: 100%;
}

.wp-mappicker-map-canvas {
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #EEE;
  border: 1px solid #888;
}
