.modal {
  border: 2px solid $navy;
  background: $ice;
  border-radius: 0;
  max-height: 100%;

  body.admin-bar & {
    max-height: calc(100% - 32px);
  }

  .modal-content {
    padding: 20px;

    img {
      width: 100%;
      border: 1px solid $navy;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  .collection {
    border: none;
    background: white;
    box-shadow: inset 0 0 0 1px $shadow;

    .collection-item {
      background: none;
    }
  }

  .modal-footer {
    background: $ice;
    height: auto;
    padding-bottom: 10px;
    overflow: hidden;
  }
}
