.observation.card {
  box-shadow: 8px 8px $shadow;
  border-radius: 0;
  margin: 20px 0;
  position: relative;
  color: $navy;

  a.mega-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  img {
    border: 2px solid white;
    margin: 13px !important;
  }

  &.horizontal {
    img {
      max-width: 75px;
      height: auto;
    }
  }

  .card-content {
    padding: 10px 0;
  }

  .material-icons {
    font-size: 18px;
    vertical-align: top;
  }

  h3 {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    margin: 5px 0;
    color: white;

    a {
      color: white;
    }
  }

  p {
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 12px;
    display: inline-block;

    &:first-child {
      padding-right: 20px;
    }
  }

  // 1, 5, 9, etc
  &:nth-child(4n-7) {
    background: $orange-med;
    border: 1px solid $orange-dark;

    h3 a {
      text-shadow: 2px 2px $orange-dark;
    }
  }

  // 2, 6, 10, etc
  &:nth-child(4n-6) {
    background: $green-med;
    border: 1px solid $green-dark;

    h3 a {
      text-shadow: 2px 2px $green-dark;
    }
  }

  // 3, 7, 11, etc
  &:nth-child(4n-5) {
    background: $red-med;
    border: 1px solid $red-dark;

    h3 a {
      text-shadow: 2px 2px $red-dark;
    }
  }

  // 4, 8, 12, etc
  &:nth-child(4n) {
    background: $aqua;
    border: 1px solid $aqua-dark;

    h3 a {
      text-shadow: 2px 2px $aqua-dark;
    }
  }
}
