.prize-card .card {
  background-color: $ice;
  border: 1px solid $navy;
  border-radius: 0;
  color: $navy;
  height: 100%;
  box-shadow: 5px 5px $shadow;

  .card-reveal {
    background-color: $ice;

    p {
      font-family: $font-family-sans-serif;
      font-size: 14px;
    }
  }

  .card-image img {
    border-radius: 0;
  }
}

.page-prizes-data .row .col {
  padding: 15px;
}

.card-title {
  font-family: $font-family-serif;
  font-size: 18px;
  line-height: 1;
  text-shadow: 1px 2px $shadow;
}

.prizes .card-content {
  border-top: 1px solid $navy;

  p {
    font-family: $font-family-sans-serif;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .page-prizes-data .row .col {
    padding: 10px;
  }

  .card .card-content,.card .card-reveal {
    padding: 15px;
  }
}
@media only screen and (max-width: 425px) {
  .card .card-content, .card .card-reveal {
    padding: 25px;
  }

  .card .card-title {
    font-size: 30px;
  }

  .prize-card .card {
    .card-content p, .card-reveal p {
      font-size: 16px;
    }
  }
}
