//Global mixins for seasons
@mixin learn-more-btn {
  box-shadow: 7px 8px $shadow;
  color: white;
  display: inline-block;
  font-family: $font-comic;
  font-size: 26px;
  text-transform: uppercase;
  transform: translate(0, 0);
  transition: all 0.3s ease;
  padding: 5px 30px;
  position: relative;
}
@mixin learn-more-btn-before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
}
@mixin learn-more-btn-hover {
  box-shadow: 2px 4px $shadow;
  transform: translate(2px, 2px);
}

.future-events {
  padding: 0;
  position: relative;
}

.month {
  color: white;
  font-family: $font-family-sans-serif;
  font-size: 28px;
  font-weight: lighter;
  text-transform: uppercase;
}

.day {
  color: white;
  font-family: $font-family-serif;
  font-size: 48px;
  font-weight: bold;
}

// Entomology ($aqua)
.entomology {
  .learn-more-btn {
    @include learn-more-btn;

    background-color: $aqua;
    border: 6px solid $aqua-light;
    text-shadow: 4px 2px $aqua-dark;

    &::before {
      @include learn-more-btn-before;

      border: 2px solid $aqua-dark;
    }

    &:hover {
      @include learn-more-btn-hover;

      background-color: $aqua-light;
      border: 6px solid $aqua;
    }

    &:active {
      background-color: $aqua;
      border: 6px solid $aqua-dark;
      box-shadow: 0 0;
    }
  }

  &.event {
    background: $aqua;

    .date {
      background-color: $aqua;
      border: 6px solid $aqua-light;

      &::before {
        border: 2px solid $aqua-dark;
      }
    }

    .month {
      text-shadow: 4px 2px $aqua-dark;
    }

    .day {
      text-shadow: 4px 2px $aqua-dark;
    }

    .title {
      border-top: 9px solid $aqua-light;
      background-color: $aqua;
    }
  }
}

// Herpetology ($orange-med)

.herpetology {
  .learn-more-btn {
    @include learn-more-btn;

    background-color: $orange-med;
    border: 6px solid $orange-light;
    text-shadow: 4px 2px $orange-dark;

    &::before {
      @include learn-more-btn-before;

      border: 2px solid $orange-dark;
    }

    &:hover {
      @include learn-more-btn-hover;

      background-color: $orange-light;
      border: 6px solid $orange-med;
    }

    &:active {
      background-color: $orange-med;
      border: 6px solid $orange-dark;
      box-shadow: 0 0;
    }
  }

  &.event {
    background: $orange-med;

    .date {
      background-color: $orange-med;
      border: 6px solid $orange-light;

      &::before {
        border: 2px solid $orange-dark;
      }
    }

    .month {
      text-shadow: 4px 2px $orange-dark;
    }

    .day {
      text-shadow: 4px 2px $orange-dark;
    }

    .title {
      border-top: 9px solid $orange-light;
      background-color: $orange-med;
    }
  }
}
//Ornithology ($red-med)

.ornithology {
  .learn-more-btn {
    @include learn-more-btn;

    background-color: $red-med;
    border: 6px solid $red-light;
    text-shadow: 4px 2px $red-dark;

    &::before {
      @include learn-more-btn-before;

      border: 2px solid $red-dark;
    }

    &:hover {
      @include learn-more-btn-hover;

      background-color: $red-light;
      border: 6px solid $red-med;
    }

    &:active {
      background-color: $red-med;
      border: 6px solid $red-dark;
      box-shadow: 0 0;
    }
  }

  &.event {
    background: $red-med;

    .date {
      background-color: $red-med;
      border: 6px solid $red-light;

      &::before {
        border: 2px solid $red-dark;
      }
    }

    .month {
      text-shadow: 4px 2px $red-dark;
    }

    .day {
      text-shadow: 4px 2px $red-dark;
    }

    .title {
      border-top: 9px solid $red-light;
      background-color: $red-med;
    }
  }
}
//Botany ($green-med)

.botany {
  .learn-more-btn {
    @include learn-more-btn;

    background-color: $green-med;
    border: 6px solid $green-light;
    text-shadow: 4px 2px $green-dark;

    &::before {
      @include learn-more-btn-before;

      border: 2px solid $green-dark;
    }

    &:hover {
      @include learn-more-btn-hover;

      background-color: $green-light;
      border: 6px solid $green-med;
    }

    &:active {
      background-color: $green-med;
      border: 6px solid $green-dark;
      box-shadow: 0 0;
    }
  }

  &.event {
    background: $green-med;

    .date {
      background-color: $green-med;
      border: 6px solid $green-light;

      &::before {
        border: 2px solid $green-dark;
      }
    }

    .month {
      text-shadow: 4px 2px $green-dark;
    }

    .day {
      text-shadow: 4px 2px $green-dark;
    }

    .title {
      border-top: 9px solid $green-light;
      background-color: $green-med;
    }
  }
}

.field-season {
  .card {
    @include photo-card;

    margin-bottom: 20px;
  }
}
